* {
  --correct: #177924;
  --present: #daac2f;
  --absent: #7b7b7b;
}
html {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #111;
}
.correct,
.present,
.absent {
  color: white !important;
}
.absent {
  background-color: var(--absent) !important;
}
.present {
  background-color: var(--present) !important;
}
.correct {
  background-color: var(--correct) !important;
}
